<app-nav-bar></app-nav-bar>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
  necessitatibus qui temporibus quisquam numquam! Nobis sequi hic, odio mollitia
  magnam, sapiente voluptatum dignissimos delectus iusto repellat dolorem animi!
  Non expedita suscipit incidunt impedit animi molestiae distinctio sed culpa
  tenetur officiis, magnam vitae unde, laudantium facere? Lorem ipsum dolor, sit
  amet consectetur adipisicing elit. Eius similique officia ab impedit quos
  velit corporis, sit sequi enim reiciendis dolorum quia voluptates, vero
  adipisci eum excepturi quisquam, rem voluptatibus ipsum ipsa repudiandae est
  nostrum. Distinctio tempora aut aliquid ab perspiciatis omnis repudiandae
  rerum deserunt, ut dolores! Minima temporibus optio autem dolor minus, nobis
  consequuntur animi reiciendis quia dolorum vel ex recusandae unde nihil eos
  debitis rem aspernatur officiis ullam quod laborum fugit? Inventore
  perspiciatis qui repellat atque commodi modi delectus quae dolorem veniam
  quos, aperiam fuga cum nihil eius dolore. Aliquid facere commodi hic
  exercitationem quo, doloribus aperiam. Iste!
</p>

<div id="chart-div">
  <canvas baseChart [data]="chartData" [type]="chartType"> </canvas>
</div>
